.Card{
    border-top: 1px solid darkgray;
    width: 100%;
    padding: 10px;
    .__a{
        display: flex;
        flex-direction: column;
        gap: 10px;
        img{
            width: 150px;
            height: 150px;
            border-radius: 4px;
        }
    }
}